<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{% if page.title %} {{ page.title }} - {{ page.subtitle }} {% else %} {{ site.title }} {% endif %}" />
<meta name="twitter:description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}" />
<meta name="twitter:image" content="{{ site.url }}{% if page.cover %}{{ page.cover }}{% else %}{{ site.cover }}{% endif %}" />

<!-- Google plus -->
<meta name="author" content="{{ site.author.googleplus }}">
<link rel="author" href="{{ site.author.googleplus }}">

<!-- Open Graph -->
<meta property="og:locale" content="{{ site.lang }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %} {{ page.title }} - {{ page.subtitle }} {% else %} {{ site.title }} {% endif %}">
<meta property="og:description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">